* {
	margin: 0;
	padding: 0;
}
body {
	background: blanchedalmond;
	color:darkblue ;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;

}
body h3 {
	border: 1px solid black;
}

#container{
	width: 700px;
}
#header {
	border: 2px solid black;
}
#header h1{
	border: 2px solid white;
}
#header .lead {
	padding: 5px;
	margin: 5px 0 2px;
}
#header, #footer {
	background: darkblue;
	color: white;
	padding: 20px;
	margin: 10px;
}
#footer {
	text-align: center;
}
#continents {
	background: grey;
	font-family: sans-serif;
	margin: 10px;
	padding: 20px;
}
#continents h1 {
	border: 2px solid black;
}
#europe {
	background: white;
	color: black;
	padding: 20px;
	margin: 5px;
}
#asia {
	background: black;
	color: white;
	padding: 20px;
	margin: 5px;
}
#asia h3 {
	border: 1px solid white;
}
#america {
	background: brown;
	color: greenyellow;
	padding: 20px;
	margin: 5px;
}
#africa {
	background:greenyellow ;
	color: brown;
	padding: 20px;
	margin: 5px;
}
#blog-post{
	background: white;
	margin: 10px;
	padding: 20px;
}
.big-info {
	font-size: 27px;
	padding: 10px;
}
.list-info {
	font-size: 20px;
	padding: 8px 5px ;
	font-family: comic-sans;
}
.list {
	font-size: 15px;
	padding: 10px;

}
.info {
	font-size: 22px;
	font-family: Arial;
	padding: 10px 0px;
	margin: 10px;
}
h1,h2,h3{

	padding: 20px 5px 20px;
}
h1{
	font-size: 35px;
}
h3 {
	font-size:30px ;
}